:root {
  --neutral-10: #fff;
  --neutral-20: #f5f5f5;
  --neutral-30: #ededed;
  --neutral-40: #ced1d8;
  --neutral-50: #afb3bb;
  --neutral-60: #7e8492;
  --neutral-70: #606060;
  --neutral-80: #35373d;
  --neutral-90: #161a34;
  --neutral-100: #1d1e25;
  --font-family: "Inter", sans-serif;
  --container-width: 1200px;
}

body {
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: inherit;
}

h2 {
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: inherit;
}

h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: -0.03em;
  color: inherit;
}

h4 {
  font-weight: 600;
  font-size: 32px;
  line-height: 131%;
  letter-spacing: -0.03em;
  color: inherit;
}

h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  letter-spacing: 0px;
  color: inherit;
}

h6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 178%;
  letter-spacing: 0px;
  color: #7e8492;
}

:root {
  --neutral-10: #fff;
  --neutral-20: #f5f5f5;
  --neutral-30: #ededed;
  --neutral-40: #ced1d8;
  --neutral-50: #afb3bb;
  --neutral-60: #7e8492;
  --neutral-70: #606060;
  --neutral-80: #35373d;
  --neutral-90: #161a34;
  --neutral-100: #1d1e25;
  --font-family: "Inter", sans-serif;
  --container-width: 1200px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: var(--neutral-10);
  padding-top: 26px;
  height: 114px;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header .contact {
  margin-left: 36px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  color: black;
}
.header .contact::after {
  content: "";
  display: block;
  width: 102px;
  height: 2px;
  background-color: black;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  padding-bottom: 138px;
}
.main__text {
  margin-top: 87px;
}
.main h4 {
  position: relative;
  margin-left: 103px;
  margin-top: 114px;
  margin-bottom: 70px;
  width: 514px;
}
.main h4::before {
  position: absolute;
  top: 25px;
  left: -103px;
  content: " ";
  display: block;
  height: 1px;
  width: 76px;
  background-color: black;
}
.main input {
  width: 280px;
  height: 47px;
  border: none;
  border-bottom: 1px solid #ced1d8;
  background-color: transparent;
  color: inherit;
  outline: none;
}
.main button {
  border-radius: 100px;
  padding: 16px 32px;
  width: 175px;
  height: 56px;
  font-weight: 700;
  font-size: 16;
  line-height: 100%;
  letter-spacing: 0px;
  color: black;
  color: white;
  background-color: var(--neutral-100);
}
.main__images {
  margin-top: 166px;
}
.main__sales_report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: black;
  border-radius: 8px;
  padding: 20px 26px;
  width: 419px;
  height: 346px;
  -webkit-box-shadow: 20px 40px 80px 0 rgba(89, 96, 135, 0.12);
          box-shadow: 20px 40px 80px 0 rgba(89, 96, 135, 0.12);
  position: relative;
}
.main__customer {
  position: absolute;
  z-index: 2;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  top: 225px;
  right: 275px;
  border-radius: 8px;
  padding: 16px 18px;
  width: 213px;
  height: 220px;
  -webkit-box-shadow: 20px 40px 80px 0 rgba(45, 51, 81, 0.12);
          box-shadow: 20px 40px 80px 0 rgba(45, 51, 81, 0.12);
}
.main__statistics {
  margin-top: 29px;
  border-radius: 8px;
  padding: 20px 26px;
  width: 419px;
  height: 119px;
  -webkit-box-shadow: 20px 40px 80px 0 rgba(45, 51, 81, 0.12);
          box-shadow: 20px 40px 80px 0 rgba(45, 51, 81, 0.12);
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__statistics_item-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0px;
  color: #5c616f;
}
.main__statistics_item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0px;
  color: white;
}
.main__statistics_item-change {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: -0.04em;
  color: #5c616e;
  margin-top: 6px;
}
.main__statistics_item-change span.green {
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0px;
  color: #60d39c;
}
.main__statistics_item-change span.green::before {
  content: url(../images/up.png);
}
.main__statistics_item-change span.red {
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0px;
  color: #e35454;
}
.main__statistics_item-change span.red::before {
  content: url(../images/down.png);
}

.overview {
  padding: 100px 0px;
  background-color: var(--neutral-100);
}

.overview_content {
  color: white;
}
.overview_content h2 {
  width: 816px;
}
.overview_content__fig {
  margin-top: 24px;
  width: 660px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--neutral-60);
}
.overview_content__items {
  margin-top: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 259px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 56px 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 56px 259px;
}
.overview_content__items > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.overview_content__items > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.overview_content__items > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.overview_content__items > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.overview_content__items-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.overview_content__items-item h4 {
  width: 265px;
}
.overview_content__items-item span {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0px;
  color: var(--neutral-60);
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 58px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 160px 0px;
}
.features__text {
  color: var(--neutral-100);
}
.features__text > h6 {
  margin-top: 24px;
  width: 360px;
}
.features__text__checks {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.features__text-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 393px;
}
.features__text-check h6 {
  color: var(--neutral-100);
}

.strength {
  color: var(--neutral-100);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.strength__frames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 144px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.strength-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 190px;
}
.strength-frame h2 {
  font-size: 64px;
}
.strength-frame:not(:last-child)::after {
  position: absolute;
  left: 261px;
  top: 25px;
  content: " ";
  display: block;
  height: 99px;
  width: 1px;
  background-color: var(--neutral-40);
}
.strength__text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 772px auto;
  grid-template-columns: 772px auto;
}