@import "_globals.scss", "_mixins.scss", "_variables.scss";

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    @include flex(0px, space-between, center);
    background-color: var(--neutral-10);
    padding-top: 26px;
    height: 114px;

    &__logo {
        @include flex(12px, center, center);
    }

    &__navigation {
        @include flex(32px, center, center);
    }

    .contact {
        margin-left: 36px;
        @include font(600, 16px, 150%);
        &::after {
            content: "";
            display: block;
            width: 102px;
            height: 2px;
            background-color: black;
        }
    }
}

.main {
    display: flex;
    gap: 100px;
    padding-bottom: 138px;
    &__text {
        margin-top: 87px;
    }
    h4 {
        position: relative;
        margin-left: 103px;
        margin-top: 114px;
        margin-bottom: 70px;
        width: 514px;
        &::before {
            @include line;
        }
    }
    input {
        width: 280px;
        height: 47px;
        border: none;
        border-bottom: 1px solid #ced1d8;
        background-color: transparent;
        color: inherit;
        outline: none;
    }
    button {
        @include button(white,  var(--neutral-100));
    }
    &__images {
        margin-top: 166px;
    }
    &__sales_report {
        @include flex(10px, center, start, column);
        @include font(700, 20px, 150%, -0.03em);
        border-radius: 8px;
        padding: 20px 26px;
        width: 419px;
        height: 346px;
        box-shadow: 20px 40px 80px 0 rgba(89, 96, 135, 0.12);
        position: relative;
    }
    &__customer {
        position: absolute;
        z-index: 2;
        @include font(700, 16px, 150%, -0.03em);
        @include flex(10px, center, start, column);
        background-color: white;
        top: 225px;
        right: 275px;
        border-radius: 8px;
        padding: 16px 18px;
        width: 213px;
        height: 220px;
        box-shadow: 20px 40px 80px 0 rgba(45, 51, 81, 0.12);
    }
    &__statistics {
        margin-top: 29px;
        border-radius: 8px;
        padding: 20px 26px;
        width: 419px;
        height: 119px;
        box-shadow: 20px 40px 80px 0 rgba(45, 51, 81, 0.12);
        background-color: #000;
        display: flex;
        justify-content: space-between;

        &_item-name {
            @include font(600, 14px, 143%, 0px, #5c616f);
        }
        &_item-price {
            @include font(700, 20px, 130%, 0px, white);
        }
        &_item-change {
            @include font(400, 14px, 157%, -0.04em, #5c616e);
            margin-top: 6px;
            & span.green {
                @include font(600, 14px, 143%, 0px, #60d39c);
                &::before {
                    content: url(../images/up.png);
                }
            }

            & span.red {
                @include font(600, 14px, 143%, 0px, #e35454);
                &::before {
                    content: url(../images/down.png);
                }
            }
        }
    }
}

.overview {
    padding: 100px 0px;
    background-color: var(--neutral-100);
}
.overview_content {
    color: white;
    h2 {
        width: 816px;
    }
    &__fig {
        margin-top: 24px;
        width: 660px;
        @include font(500, 18px, 150%, 0px, var(--neutral-60));
    }

    &__items {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 56px 259px;
        &-item {
            @include flex(24px, start, start, column);
            h4 {
                width: 265px;
            }
            span {
                @include font(500, 16px, 162%, 0px, var(--neutral-60));
            }
        }   
    }
}

.features {
    @include flex(58px);
    padding: 160px 0px;
    &__image {

    }
    &__text {
        color: var(--neutral-100);
        
        > h6 {
            margin-top: 24px;
            width: 360px;
        }

        &__checks {
            margin-top: 40px;
            @include flex(32px, start, start, column);
        }
        &-check {
            h6 {
                color: var(--neutral-100);
            }
            @include flex(16px, start, center);
            width: 393px;
        }
    }
}

.strength {
    color: var(--neutral-100);
    @include flex(80px, center, center, column);
    &__frames {
        @include flex(144px, start);
    }

    &-frame {
        @include flex(8px, start, start, column);
        position: relative;
        width: 190px;
        h2 {
            font-size: 64px;
        }
        &:not(:last-child)::after {
            position: absolute;
            left: 261px;
            top: 25px;
            content: " ";
            display: block;
            height: 99px;
            width: 1px;
            background-color: var(--neutral-40);
        }
    }

    &__text {
        display: grid;
        grid-template-columns: 772px auto;
    }
}

