:root {
    --neutral-10: #fff;
	--neutral-20: #f5f5f5;
	--neutral-30: #ededed;
	--neutral-40: #ced1d8;
	--neutral-50: #afb3bb;
	--neutral-60: #7e8492;
	--neutral-70: #606060;
	--neutral-80: #35373d;
	--neutral-90: #161a34;
	--neutral-100: #1d1e25;

    --font-family: "Inter", sans-serif;

    --container-width: 1200px;
}